.upbx {
  display: inline-block;
  float: left;
  position: relative;
  padding-top: 5px;
}

.upbx a {
  margin-left: 0px;
  padding-right: 0px;
}

.upbx a:hover {
  border: 0px;
}

.upbx .console {
  border: 1px solid #fff;
  border-radius: 6px;
  height: 32px;
  line-height: 30px;
  margin-top: 4px;
}

.upbx i {
  color: #fff;
  font-size: 20px;
  width: 50px;
}

.upbx em {
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 12px;
  background: red;
  border-radius: 50%;
  left: 50px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.upbx img {
  margin: 20px 5px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
}

.upbx .ov {
  top: 50px;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 3px #ddd;
  display: none;
  width: 100%;
  overflow: hidden;
  line-height: 38px;
  position: absolute;
  background: #fff;
  border-radius: 6px;
}

.upbx .ov a {
  color: gray;
  display: block;
  font-size: 1.4rem;
  padding: 0 20px;
  line-height: 38px;
  height: 38px;
}

.upbx .ov a:hover {
  background: #18c1d6;
  color: #Fff;
}

.navs {
  line-height: 68px;
  font-size: 1.6rem;
  height: 58px;
}

.navs a {
  color: #fff;
  margin-left: 20px;
  display: inline-block;
  padding: 0 10px;
}

.navs a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navs .prolayer {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  left: 50%;
  margin-left: -90px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 180px;
  background: white;
  border-radius: 6px;
}

.navs .prolayer a {
  color: #4d5e6f;
  display: block;
  line-height: 40px;
  margin: 0px;
  padding: 0 15px;
  text-align: center;
}

.navs .prolayer a:hover {
  text-decoration: underline;
}

.navs span {
  display: inline-block;
  color: #fff;
  margin-left: 20px;
  padding: 0 10px;
  cursor: pointer;
}

.navs span:hover {
  border-bottom: 2px solid #fff;
}

.navs span:hover .prolayer {
  display: block;
}

.f-fr {
  float: right;
}

.console_box {
  width: 500px;
  overflow: hidden;
  float: right;

}

.dis_hide {
  display: none;
}

.m-morebox {
  margin-bottom: 0;
}

.u-footer a {
  padding: 0 15px;
}

.f-fr {
  float: right;
}

.f-fl {
  float: left;
}

.dis_hide {
  display: none;
}

.grey_bd {
  background-color: #f8f8f9;
}

.fp_bd {
  background-image: url("images/bg_invoice_banner2.png");
  width: 100%;
  height: 680px;
  background-size: cover;
}

.fp_width {
  width: 1200px;
  margin: 0 auto;
}

.page-weather.u-code {
  margin: 60px auto;
}

.page-weather.u-code .u-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 4.8rem;
  color: #555555;
}

.page-weather.u-code .u-tianqitex {
  padding: 0px 150px 50px;
  text-align: left;
  line-height: 1.7;
  font-size: 1.4rem;
  color: #777777;
}

.page-weather.u-code .u-tianqitable .table {
  border: solid #eeeeee 1px;
  width: 100%;
}

.page-weather.u-code .u-tianqitable .table thead th {
  font-weight: normal;
  border-bottom: 0px;
  padding: 15px 20px;
  box-sizing: border-box;
  background: #f5f5f5;
}

.page-weather.u-code .u-tianqitable .table tbody tr {
  border-top: solid #eeeeee 1px;
}

.page-weather.u-code .u-tianqitable .table tbody tr td {
  padding: 20px;
  font-size: 1.4rem;
  line-height: 1.7;
  background: #fafafa;
  color: #777777;
}

.page-weather.u-code .u-tianqitable .table tbody tr td img {
  width: 50px;
  vertical-align: middle;
}

.page-weather .u-kongqiaqi {
  margin-top: 60px;
  padding: 50px 0;
}

.page-weather .u-kongqiaqi .u-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 4.8rem;
  color: #555555;
}

.page-weather .u-kongqiaqi .table {
  border: solid #eeeeee 1px;
}

.page-weather .u-kongqiaqi .table thead th {
  font-weight: normal;
  border-bottom: 0px;
  padding: 15px 20px;
  background: #f5f5f5;
}

.page-weather .u-kongqiaqi .table tr {
  border-top: solid #eeeeee 1px;
}

.page-weather .u-kongqiaqi .table tr td {
  padding: 20px;
  font-size: 1.4rem;
  line-height: 1.7;
  background: #fafafa;
  color: #777777;
}

.page-weather .u-kongqiaqi .aqi {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.page-weather .u-kongqiaqi .aqi-1 {
  background: #63d416;
}

.page-weather .u-kongqiaqi .aqi-2 {
  background: #ffcc00;
}

.page-weather .u-kongqiaqi .aqi-3 {
  background: #ff8a00;
}

.page-weather .u-kongqiaqi .aqi-4 {
  background: #f7000c;
}

.page-weather .u-kongqiaqi .aqi-5 {
  background: #90024c;
}

.page-weather .u-kongqiaqi .aqi-6 {
  background: #602000;
}

.page-weather .u-servers {
  margin-top: 50px;
}

.page-weather .u-servers .item {
  position: relative;
  margin-left: 50px;
  box-sizing: border-box;
  width: 480px;
  height: 140px;
  background: white;
  margin-bottom: 20px;
  padding-left: 60px;
  float: left;
  margin-right: 60px;
}

.page-weather .u-servers .item img {
  position: absolute;
  left: -60px;
  top: 20px;
}

.page-weather .u-servers .item h3 {
  font-size: 2rem;
  color: #555555;
  padding-top: 20px;
}

.page-weather .u-servers .item p {
  margin-right: 50px;
  margin-top: 7px;
  font-size: 1.4rem;
  color: #777777;
  line-height: 1.7;
}

.page-weather .u-baozhang {
  margin-top: 80px;
}

.page-weather .u-baozhang .item {
  margin-left: 1%;
  width: 28%;
  float: left;
  margin-right: 3%;
}

.page-weather .u-baozhang .item h3 {
  font-size: 2rem;
  color: #555555;
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.page-weather .u-baozhang .item h3:after {
  content: '';
  left: 0px;
  position: absolute;
  display: inline-block;
  height: 3px;
  bottom: 0px;
  background: #5bc0de;
  width: 60px;
}

.page-weather .u-baozhang .item p {
  margin-right: 50px;
  margin-top: 7px;
  font-size: 1.4rem;
  color: #777777;
  line-height: 1.7;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.weather-result {
  margin-top: 20px;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
}

.weather-result .today-img {
  width: 130px;
  height: 90px
}

.pd-l-15 {
  padding-left: 15px;
}

.pd-l-20 {
  padding-left: 20px;
}

.weather-result .temperature {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 110px;
  display: flex;
  align-items: Center;
}

.weather-result .humidity {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 10px;
  width: 140px;
}

.weather-result .wind {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 110px;
}

.weather-result .future {
  padding: 15px 45px;
  font-size: 20px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.15);
}

.second-day {
  padding: 0 30px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.mid-align {
  display: flex;
  align-items: Center;
}

.weather-result .future img {
  width: 60px;
  height: 40px;
  margin-top: 10px;
}

.weather-result .future .future_temperature {
  padding: 10px 0 0 14%;
}

.pd-t-10 {
  padding-top: 10px;
}
