.upbx {
  display: inline-block;
  float: left;
  position: relative;
  padding-top: 5px;
}

.upbx a {
  margin-left: 0px;
  padding-right: 0px;
}

.upbx a:hover {
  border: 0px;
}

.upbx .console {
  border: 1px solid #fff;
  border-radius: 6px;
  height: 32px;
  line-height: 30px;
  margin-top: 4px;
}

.upbx i {
  color: #fff;
  font-size: 20px;
  width: 50px;
}

.upbx em {
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 12px;
  background: red;
  border-radius: 50%;
  left: 50px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.upbx img {
  margin: 20px 5px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
}

.upbx .ov {
  top: 50px;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 3px #ddd;
  display: none;
  width: 100%;
  overflow: hidden;
  line-height: 38px;
  position: absolute;
  background: #fff;
  border-radius: 6px;
}

.upbx .ov a {
  color: gray;
  display: block;
  font-size: 1.4rem;
  padding: 0 20px;
  line-height: 38px;
  height: 38px;
}

.upbx .ov a:hover {
  background: #18c1d6;
  color: #Fff;
}

.navs {
  line-height: 68px;
  font-size: 1.6rem;
  height: 58px;
}

.navs a {
  color: #fff;
  margin-left: 20px;
  display: inline-block;
  padding: 0 10px;
}

.navs a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navs .prolayer {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  left: 50%;
  margin-left: -90px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 180px;
  background: white;
  border-radius: 6px;
}

.navs .prolayer a {
  color: #4d5e6f;
  display: block;
  line-height: 40px;
  margin: 0px;
  padding: 0 15px;
  text-align: center;
}

.navs .prolayer a:hover {
  text-decoration: underline;
}

.navs span {
  display: inline-block;
  color: #fff;
  margin-left: 20px;
  padding: 0 10px;
  cursor: pointer;
}

.navs span:hover {
  border-bottom: 2px solid #fff;
}

.navs span:hover .prolayer {
  display: block;
}

.f-fr {
  float: right;
}

.console_box {
  width: 500px;
  overflow: hidden;
  float: right;

}

.dis_hide {
  display: none;
}

.m-morebox {
  margin-bottom: 0;
}

.u-footer a {
  padding: 0 15px;
}


.page-liulinag {
  margin-bottom: 50px;
}

.page-liulinag .u-liuliang {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-liulinag .u-liuliang h3 {
  font-size: 3.6rem;
  color: white;
  height: 220px;
  line-height: 220px;
  text-align: center;
}

.page-liulinag .u-liuliang .u-tab {
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.page-liulinag .u-liuliang .u-tab a {
  display: inline-block;
  width: 33%;
  height: 80px;
  line-height: 80px;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.page-liulinag .u-liuliang .u-tab a img {
  vertical-align: middle;
}

.page-liulinag .u-liuliang .u-tab a:hover,
.page-liulinag .u-liuliang .u-tab a.active {
  background: white;
  color: #555555;
}

.page-liulinag .u-form {
  padding: 20px 0;
}

.page-liulinag .u-form .item {
  padding: 15px 0;
}

.page-liulinag .u-form .item span.nm {
  font-size: 1.6rem;
  width: 90px;
  line-height: 30px;
  float: left;
}

.page-liulinag .u-form .item .rb {
  margin-left: 100px;
}

.page-liulinag .u-form .item .rb.input input {
  border: solid #eeeeee 1px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  font-size: 1.4rem;
}

.page-liulinag .u-form .item .rb.u-label label {
  margin-right: 20px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 1.6rem;
}

.page-liulinag .u-form .item .rb.u-label label input {
  vertical-align: middle;
}

.page-liulinag .u-form .item .rb.u-change a {
  display: inline-block;
  border: solid #eeeeee 1px;
  height: 30px;
  line-height: 30px;
  color: #5bc0de;
  padding: 0 15px;
}

.page-liulinag .u-form .item .rb.u-change span {
  display: inline-block;
  border: solid #eeeeee 1px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  cursor: pointer;
}

.page-liulinag .u-form .item .rb.u-change span.active {
  border: solid #5bc0de 1px;
  color: #5bc0de;
}

.page-liulinag .u-form .item .rb.u-change span:hover {
  background: #eeeeee;
}

.page-liulinag .u-form .item .rb.u-price {
  line-height: 30px;
}

.page-liulinag .u-form .item .rb.u-price span {
  font-size: 1.4rem;
}

.page-liulinag .u-form .item .rb.u-price em {
  color: #777777;
  text-decoration: line-through;
}

.page-liulinag .u-form .item .rb.u-ft .btn {
  background: #5bc0de;
  color: white;
  font-size: 1.6rem;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  display: inline-block;
}
