.upbx {
  display: inline-block;
  float: left;
  position: relative;
  padding-top: 5px;
}

.upbx a {
  margin-left: 0px;
  padding-right: 0px;
}

.upbx a:hover {
  border: 0px;
}

.upbx .console {
  border: 1px solid #fff;
  border-radius: 6px;
  height: 32px;
  line-height: 30px;
  margin-top: 4px;
}

.upbx i {
  color: #fff;
  font-size: 20px;
  width: 50px;
}

.upbx em {
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 12px;
  background: red;
  border-radius: 50%;
  left: 50px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.upbx img {
  margin: 20px 5px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
}

.upbx .ov {
  top: 50px;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 3px #ddd;
  display: none;
  width: 100%;
  overflow: hidden;
  line-height: 38px;
  position: absolute;
  background: #fff;
  border-radius: 6px;
}

.upbx .ov a {
  color: gray;
  display: block;
  font-size: 1.4rem;
  padding: 0 20px;
  line-height: 38px;
  height: 38px;
}

.upbx .ov a:hover {
  background: #18c1d6;
  color: #Fff;
}

.navs {
  line-height: 68px;
  font-size: 1.6rem;
  height: 58px;
}

.navs a {
  color: #fff;
  margin-left: 20px;
  display: inline-block;
  padding: 0 10px;
}

.navs a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navs .prolayer {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  left: 50%;
  margin-left: -90px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 180px;
  background: white;
  border-radius: 6px;
}

.navs .prolayer a {
  color: #4d5e6f;
  display: block;
  line-height: 40px;
  margin: 0px;
  padding: 0 15px;
  text-align: center;
}

.navs .prolayer a:hover {
  text-decoration: underline;
}

.navs span {
  display: inline-block;
  color: #fff;
  margin-left: 20px;
  padding: 0 10px;
  cursor: pointer;
}

.navs span:hover {
  border-bottom: 2px solid #fff;
}

.navs span:hover .prolayer {
  display: block;
}

.f-fr {
  float: right;
}

.f-fl {
  float: left;
}

.console_box {
  width: 500px;
  overflow: hidden;
  float: right;

}

.dis_hide {
  display: none;
}

.news_block {
  overflow: hidden;
}

.news_list {
  padding: 80px 0;
  overflow: hidden;
}

.grey_bd {
  background-color: #f8f8f9;
}

.set_with {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.set_with li:first-child {
  width: 60%;
}

.set_with li:last-child {
  width: 40%;
}

.set_with li p {
  font-size: 14px;
  line-height: 30px;
}

.set_with li p span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #18c1d6;
  margin-right: 5px;

}

.set_with li p:first-child {
  font-size: 36px;
  padding-bottom: 15px;
  line-height: 40px;
}

.notificatin {
  padding: 76px 0;
  height: 181px;
}

.notificatin p {
  padding-bottom: 30px;
}

.notificatin span {
  font-size: 18px;
  color: #828282;
  line-height: 30px;
}

.jifen_list {
  margin-top: 80px;
}

.jifen_list li {
  float: left;
  height: 417px;

}

.jifen_list li img {
  width: 100%;
}

.jifen_list li:first-child {
  width: 25%;
  margin-right: 5px;

}

.jifen_list li:last-child {
  width: 25%;
  margin-left: 5px;
}

.u-footer a {
  padding: 0 15px;
}
